doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/home/home.css')
  link(rel='stylesheet' type='text/css' href='/css/home/pop-up.css')
  link(rel='stylesheet' type='text/css' href='/css/home/select.css')
  link(rel='stylesheet' type='text/css' href='/css/form/input.css')
  link(rel='stylesheet' type='text/css' href='/css/form/item-card.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  title Accueil
#modal.modal
  .modal-header
    h3.form-label Ajout d&apos;une question
    button.close-button(data-close-button='') &times;
  .modal-body
    .modal-body-content
      form(action='/' method='post')
        label.form-label(for='question-content') Question
        input.form-input(name='question-content' type='text')
        label.form-label(for='goodanswer-content') R&eacute;ponse
        input.form-input(name='goodanswer-content' type='text')
        .form-input-container
          .input-container
            .input-container-wrapper(name='input-box-0')
              label.form-label(for='badanswer-0-content')
                | Mauvaise
                | r&eacute;ponse
              input.form-input(name='badanswer-0-content' type='text')
            .input-container-wrapper(name='input-box-1')
              label.form-label(for='badanswer-1-content')
                | Mauvaise
                | r&eacute;ponse
              input.form-input(name='badanswer-1-content' type='text')
          .input-container-center-btn
            button.input-container-btn-add(name='btn-add-badanswer')
              img(src='/assets/icons/plus.png' alt='add')
        label.form-label(for='goodanswer-content') Theme
        .modal-select-container
          details
            summary.select-content.form-select
              | Choisissez
              | un th&egrave;me
            ul.form-select
              li.select-item
                .select-item-content Item 1
              li.select-item
                .select-item-content Item 2
              li.select-item
                .select-item-content Item 3
              li.select-item
                .select-item-content Item 4
        label.form-label(for='goodanswer-content') Dur&eacute;e
        .form-input-container
          .item-card-list(name='item-card-list-time')
            .item-card.item-card-selected(name='0')
              p Item Card
            .item-card(name='1')
              p Item Card
            .item-card(name='3')
              p Item Card
        label.form-label(for='goodanswer-content') Difficult&eacute;
        .form-input-container
          .item-card-list(name='item-card-list-difficulty')
            .item-card.item-card-selected(name='0')
              p Item Card
            .item-card(name='1')
              p Item Card
            .item-card(name='3')
              p Item Card
        .modal-btn-container
          button.btn-submit Valider
        input(type='hidden' name='time_id' value='')
        input(type='hidden' name='difficulty_id' value='')
#overlay
img(src='/assets/pictures/background.png' alt='' srcset='')
.container(style="background-image:\
url('/assets/pictures/home-box.png')")
  h2 Ajouter des questions
  .spacer
  .headband
    h6 Chaque question est v&eacute;rifi&eacute;e par un Administrateur
  .btn-center
    button.btn-add(type='submit' data-modal-target='#modal')
      img(src='/assets/icons/plus.png' alt='' srcset='')
script(src='/js/home/pop-up.js')
script(src='/js/home/form/bad-answer.js')
script(src='/js/home/form/item-card.js')
script(src='/js/crud/theme/themeCrud.js')
