.form-input {
    border: 1px solid #dbe4ee;
    color: #243b53;
    background-color: #f6f9fd;
    border-radius: 10px;
    outline: none;
    min-height: 44px;
    font-size: 15px;
    padding: 0px 8px;
    margin: 4px 0px;
    flex: auto;
}

.form-select {
    border: 1px solid #dbe4ee;
    color: #243b53;
    background-color: #f6f9fd;
    border-radius: 10px;
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-input-container {
    border: 1px solid #dbe4ee;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.input-deletable-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-deletable-container img {
    height: 22px;
    width: 22px;
    padding: 6px;
    border-radius: 6px;
    margin-left: 4px;
    background-color: #e7474f;
}

.input-container-wrapper {
    display: flex;
    flex-direction: column;
}

.input-container-center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container-btn-add {
    outline: none;
    border: 0;
    background: #FF8D31;
    color: #dfdeee;
    border-radius: 8px;
    width: 34px;
    height: 28px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container-btn-add img {
    height: 50%;
}

h3.form-label {
    color: #243b53;
    font-size: 22px;
}

label.form-label {
    color: #8897a7;
    font-size: 18px;
}